<h1>Actions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actions.each do |action| %>
      <tr>
        <td><%= action.name %></td>
        <td><%= action.amount %></td>
        <td><%= link_to 'Show', action %></td>
        <td><%= link_to 'Edit', edit_action_path(action) %></td>
        <td><%= link_to 'Destroy', action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Action', new_action_path %>
