<div class="container py-5 w-50 min-vh-100 text-center d-flex flex-column justify-content-center align-items-center">

  <h2 class="display-1 fw-bold mb-5">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail adresse", class: "mb-4 rounded-3 py-2 px-5" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "password", class: "mb-4 rounded-3 py-2 px-5" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="d-flex justify-content-center">
      <%= f.submit "Log in", class: "button is-success is-focused mr-2" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>

</div>